<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="teacherhome"></ion-back-button>
    </ion-buttons>
    <ion-title>Tracking</ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-grid style="margin-top: 10px;">
    <ion-row class="ion-text-center">
      
      <ion-col size="4">
        <div class="container" (click)="BiomatricAttendance()" routerDirection="root" lines="none" detail="false" routerLinkActive="selected" style="border-radius: 50%;">
          <img src="assets/presentation.png" style="height: 80px;box-shadow: rgb(132 156 171) 0px 0px 4px;padding: 15px!important;">
        </div>
        <p style="margin-top: 5px; font-size: 12px; color:#292d2f;"><b>Biometric Attendance</b></p>
      </ion-col>

      <ion-col size="4">
        <div class="container" (click)="HomeWorks()" routerDirection="root" lines="none" detail="false" routerLinkActive="selected" style="border-radius: 50%;">
          <img src="assets/homework.png" style="height: 80px;box-shadow: rgb(132 156 171) 0px 0px 4px;padding: 15px!important;">
        </div>
        <p style="margin-top: 5px; font-size: 12px; color:#292d2f;"><b>Homework</b></p>
      </ion-col>

      <ion-col size="4">
        <div class="container" (click)="Attendance()" routerDirection="root" lines="none" detail="false" routerLinkActive="selected" style="border-radius: 50%;">
          <img src="assets/markattendance.png" style="height: 80px;box-shadow: rgb(132 156 171) 0px 0px 4px;padding: 15px!important;">
        </div>
        <p style="margin-top: 5px; font-size: 12px; color:#292d2f;"><b>Student Attendance</b></p>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>


